<!DOCTYPE html>
<html>
<head>
	<title>Anjular JS 1.6.js</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</head>
<body>
<div style="margin-left: 100px;margin-top: 50px">
<h3>Contact List:</h3>

	<table class="table table-bordered" >
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Contact</th>
		</tr>
		<tr ng-repeat="c in contacts">
		<td>{{c.firstName}} {{c.lastName}}</td>
		<td>{{c.email}}</td>
		<td>{{c.contactNo}}</td>
		</tr>
	</table> 
	</div>
</body>
</html>